<section class="portofolio" id="portofolio">

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Portofolio</h2>
        <hr>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <a [href]="list_link_portofolio[0].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 1"
               class="img-responsive">
        </a>
      </div>

      <div class="col-sm-4">
        <a [href]="list_link_portofolio[1].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 2"
               class="img-responsive">
        </a>
      </div>

      <div class="col-sm-4">
        <a [href]="list_link_portofolio[2].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 3"
               class="img-responsive">
        </a>
      </div>

      <div class="col-sm-4">
        <a [href]="list_link_portofolio[3].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 4"
               class="img-responsive">
        </a>
      </div>


      <div class="col-sm-4">
        <a [href]="list_link_portofolio[4].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 5"
               class="img-responsive">
        </a>
      </div>


      <div class="col-sm-4">
        <a [href]="list_link_portofolio[5].hreflink" class="thumbnail">
          <img src="assets/img/portofolio1.jpg" alt="Portofolio 6"
               class="img-responsive">
        </a>
      </div>

    </div>

  </div>

</section>
