<footer class="footer-web" id="footers">
  <div class="container text-center">

    <div class="row">

      <div class="col-sm-12">
        <p>copyright &copy; 2017 | dibuat dengan <i class="glyphicon glyphicon-heart"></i> oleh <a
          href="https://www.facebook.com/darkfirenze">Rian
          YW</a></p>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-thumbs-up"></i>  Link to Linkedin</a>
        </div>
      </div>

    </div>
  </div>
</footer>
